.my-card
    width: 60%
    max-width: 950px
    text-align: center

.ct_card
    width: 100%
    max-width: 450px
    text-align: center
    background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)

h3
    margin: 0px
    font-size: 2.5rem

a
    text-decoration: none

.titles
    text-align: center

.text-body1
    font-size: 23px

.txtBienvenida
    font-size: 23px

.icon
    float: right

.splModel
    height: 600px

.navTabs
    background-color: #1976d2

.tabInfoTitle, .tabInfoBody
    text-align: center

.tabInfoTitle
    font-size: 21px

.tabInfoBody
    font-size: 19px
